body {
  margin: 0;
  min-height: 100vh;
}

img.main {
  height: 225px;
  width: 500px;
  object-fit: cover;
  object-position: 25% 25%; 
}

.section-a {
  background-color: #1F2937;
  color: #F9FAF8;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: bolder;
  margin-right: 190px;
}

ul {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #e5e7eb;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 18px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.top {
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 1000;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #e5e7eb
}

.top-left {
  width: 500px;
}

.sign-up {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 1000;
  background: #3882F6;
  color: #e5e7eb;
  border: none;
  border-radius: 10px;
  padding: 8px 35px 8px 35px;
  margin-top: 18px;
}

.information {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 1000;
  color: #1F2937;
  margin: 50px 0px 50px 0px;
}

img.sub {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: 75% 50%; 
  border-radius: 10px;
}

img.sub2 {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: 25% 50%; 
  border-radius: 10px;
}

img.sub3 {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: 25% 50%; 
  border-radius: 10px;
}

img.sub4 {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: 25% 50%; 
  border-radius: 10px;
}

.pic-cap {
  font-family: 'Roboto';
  font-size: 14px;
  color: rgb(74, 74, 74);
  width: 150px;
  text-align: center;
}

.info-and-pics {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 100px;
  }

  .section-c {
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .quote {
    font-family: Roboto;
    font-size: 36px;
    color: #1F2937;
    width: 800px;
  }

  .qu-cen {
    display: flex;
    justify-content: center;
  }

.testimony {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: bolder;
  margin-left: 400px;
  display: flex;
  justify-content: center;
}

.section-d {
  display: flex;
  justify-content: center;
}

.call-to-action-title {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  color: #F9FAF8;
  font-weight: bolder;
}

.call-to-action-subtitle {
  font-family: Roboto, sans-serif;
  width: 300px;
  color: #F9FAF8;
}

.sign-up2 {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 1000;
  background: #3882F6;
  color: #e5e7eb;
  border-radius: 10px;
  padding: 8px 35px 8px 35px;
  border: 2px white solid;
  display: flex;
  flex-basis: auto;
  flex-shrink: 0;
  height: 42px;
}

.cta {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  height: 150px;
  width: 1000px;
  align-items: center;
  gap: 280px;
  background-color: #3882F6;
  margin: 100px 350px 100px 350px;
  border-radius: 10px;
}

.footer {
  height: 100px;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF8;
}

